#loginContainerR{
  max-width: 50%;
  height: 100vh;

  background: url('../../assets/images/banner.png');
  background-size: cover;
  flex-grow: 1;

  @media(max-width: 1024px){
    display: none;
  }
  #logoCompass{
    display: flex;
    justify-content: center;
    margin-top: 1%;
  
    img{
      width: 50%;
    }
  }
  
}