#weatherContainer{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 25px;

  div {
    display: flex;

    img {
      width: 45px;
      height: 45px;
      margin-right: 12px;
    }
  }
}