h1 {
  font-size: 100px;
}

.clockClass {
  font-size: 144px;
  font-weight: 700;
}

.contentHomeTitle{
  font-size: 36px;
  font-weight: 700;
  color: #C12D18;
}

.contentHome{
  font-size: 64px;
  font-weight: 700;
  color: #C12D18;
}

.loginTitle{
  font-size: 60px;
  color: #E0E0E0;
}

.detailsLogin{
  font-size: 30px;
  color: #E0E0E0;
  margin-top: 135px;
  margin-bottom: 32px;
}

.timerClass{
  font-size: 48px;
}