#contentHome {
  display: flex;
  text-align: right;
  img {
    width: 500px;
    margin-bottom: 30px;

    @media(max-width: 550px){
      margin-bottom: 0;
      width: 420px;
      height: 725px;
      position: absolute;
      top: 100px;
    }
  }
  #textContainer {
    width: 100%;
    margin-right: 128px;
    margin-top: 30px;
  }
}